@import '@mixins/*';

.root {
  padding: 20px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  min-width: 700px;

  .wrapper {
    @include flex($align: flex-start);
  }

  .deleteCardBtnWrapper {
    @include flex($align: center);
    height: 94px;
    padding-left: 12px;
    padding-right: 12px;

    & .deleteCardBtn {
      @include flex($justify: center, $align: stretch);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .imgAndTitleBlock {
    @include flex($justify: center, $align: flex-start, $gap: 12px);

    & .defaultImg {
      min-width: 92px;
      height: 92px;
      background-color: #333333;
      border-radius: 4px;
    }
    & .title {
      width: 100%;
      min-width: 150px;
      height: 92px;
      overflow: hidden;
      margin-right: 20px;
    }
  }

  .priceAndDiscountBlock {
    width: 180px;
    @include flex($align: center, $gap: 6px);
    & .price {
      &:after {
        padding-left: 2px;
        content: '\20BD';
      }
    }

    & .discount {
      &:after {
        padding-left: 2px;
        content: '\20BD';
      }
    }
  }

  .counterBlock {
    width: 205px;
    max-height: 48px;
    @include flex($justify: space-between, $align: center);
  }
}
