// Loading.module.scss

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100%;

  & .loading {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #333; // Цвет обводки круга
    border-top: 2px solid transparent; // Цвет верхней части круга
    animation: spin 1s linear infinite; // Применяем анимацию вращения
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
