@import '@/styles/mixins';

.root {
  padding-top: 96px;

  .flexSection {
    @include flex($justify: space-between, $align: flex-start, $wrap: nowrap);
  }

  .basketBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .link {
      position: absolute;
      content: ' ';
      top: -34px;
      right: 0;
      color: #013eff;
    }
  }

  .infoBlock {
    width: 406px;
    height: 406px;
    background-color: #333333;
  }
}
