@import '@mixins/*';

.root {
  @include flex(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 4px
  );

  & .iconsBlockWrapper {
    position: relative;
    border-radius: 50%;
    width: 28px;

    & .counterBasket {
      @include flex($justify: center, $align: center);
      position: absolute;
      width: 25px;
      height: 25px;
      top: -16px;
      right: -21px;
      background-color: #21b32e;
      border-radius: 50px;
    }

    & .counterFavorites {
      @include flex($justify: center, $align: center);
      position: absolute;
      width: 25px;
      height: 25px;
      top: -16px;
      right: -21px;
      background-color: var(--color-danger-300);
      border-radius: 50px;
    }
  }

  & .displayNone {
    display: none;
  }
}
