:root {
  // accent
  //--color-accent-100: #bea6ff;

  // success
  --color-success-400: rgba(33, 179, 46, 0.8);
  --color-success-500: #21b32e;

  // danger
  --color-danger-300: #ff0000;
  --color-danger-500: #f7095f;

  // warning
  //--color-warning-100: #ffd073;

  // info
  --color-info-100: #eef7ff;
  --color-info-200: #cae0f5;
  --color-info-300: rgba(238, 247, 255, 0.4);
  --color-info-500: #013eff;

  // light
  --color-light-100: #fff;
  --color-light-500: #f4f2fa;

  // dark
  //--color-dark-100: #808080;
  //--color-dark-300: #4c4c4c;
  //--color-dark-500: #333;
  --color-dark-800: rgba(0, 0, 0, 0.32);
  --color-dark-900: #000;
}
