@import '@mixins/*';

.basketCardsBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .link {
    position: absolute;
    content: ' ';
    top: -34px;
    right: 0;
    color: #013eff;
  }
}
