:root {
  // accent
  //--color-accent-100: #bea6ff;

  // success
  --color-success-500: #21b32e;

  // danger
  --color-danger-500: #f7095f;

  // warning
  //--color-warning-100: #ffd073;

  // info
  --color-info-500: #013eff;

  // light
  --color-light-100: #fff;
  --color-light-500: #f4f2fa;

  // dark
  //--color-dark-100: #808080;
  //--color-dark-300: #4c4c4c;
  //--color-dark-500: #333;
  //--color-dark-700: #171717;
  //--color-dark-900: #000;
}
