:root {
  // accent
  --color-accent-100: #bea6ff;
  --color-accent-300: #a280ff;
  --color-accent-500: #8c61ff;
  --color-accent-700: #704ecc;
  --color-accent-900: #382766;

  // success
  --color-success-500: #21b32e;

  // danger
  --color-danger-500: #f7095f;

  // warning
  --color-warning-100: #ffd073;
  --color-warning-300: #e5ac39;
  --color-warning-500: #d99000;
  --color-warning-700: #960;
  --color-warning-900: #640;

  // info
  --color-info-500: #013eff;

  // light
  --color-light-100: #fff;
  --color-light-300: #f9f7ff;
  --color-light-500: #f4f2fa;
  --color-light-600: #e8e8e8;
  --color-light-700: #dcdae0;

  // dark
  --color-dark-100: #808080;
  --color-dark-300: #4c4c4c;
  --color-dark-500: #333;
  --color-dark-700: #171717;
  --color-dark-900: #000;
}
