@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
}


* {
    margin: 0;
    padding: 0;
}

body {

}

header {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

/*footer {*/
/*    height: 100px;*/
/*    background-color: #21b32e;*/
/*    flex-shrink: 0;*/
/*}*/

@layer utilities {
  .text-balance {
  }
}
