@import '@styles/*';

.root {
  position: relative;
  @include flex($direction: column, $justify: flex-start, $gap: 12px);
  padding: 20px;
  background-color: #e3e3e3;
  width: 100%;
  max-width: 270px;
  border-radius: 4px;

  .wrapperFavoritesIcon {
    cursor: pointer;
    padding: 15px;
    background-color: transparent;
    @include flex($justify: center, $align: center);
    position: absolute;
    top: 10px;
    right: 8px;
  }

  & .actionWrapper {
    @include flex($direction: column, $gap: 12px);
    color: inherit;

    & .cardBlockPrice {
      @include flex(
        $direction: row,
        $justify: flex-start,
        $align: flex-end,
        $gap: 4px
      );
      & .price {
        font-weight: bold;
        font-size: 14px;

        // Ruble Symbol https://symbl.cc/ru/20BD/
        &:after {
          padding-left: 2px;
          content: '\20BD';
          font-size: 15px;
        }
      }

      & .discount {
        text-decoration: line-through;
        padding-left: 4px;
        font-weight: 400;
        font-size: 12px;

        // Ruble Symbol https://symbl.cc/ru/20BD/
        &:after {
          padding-left: 2px;
          content: '\20BD';
          font-size: 13px;
        }
      }
    }

    & .title {
      padding: 0;
      margin: 0;
      font-weight: bold;
      font-size: 14px;
    }
  }

  & .inBasketAndCounterBlock {
    width: 100%;
    @include flex($justify: space-between, $align: center);
  }
}
