.h1 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.h3 {
  font-size: 34px;
  font-weight: bold;
}

.h4 {
  font-size: 24px;
  font-weight: bold;
}

.h5 {
  font-size: 20px;
  font-weight: bold;
}

.h6 {
  font-size: 14px;
  font-weight: 700;
}

.p {
  font-size: 14px;
  font-weight: 200;
}

.pV2 {
  font-size: 12px;
  font-weight: 700;
}

.link {
  font-size: 14px;
  color: #013eff;
}

.priseV1 {
  font-size: 30px;
  font-weight: bold;
}

.priseV2 {
  font-size: 18px;
  font-weight: bold;
}

.priseV3 {
  font-size: 14px;
  font-weight: 600;
}

.priseV4 {
  font-size: 12px;
  font-weight: 500;
  text-decoration: line-through;
  color: var(--color-dark-800);
}

.discord {
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
}

.buttonText {
  font-size: 12px;
  font-weight: 200;
}

.error {
  font-size: 8px;
  color: #f7095f;
}
