@import '@/styles/mixins';
.root {
  padding: 24px 0;
  background-color: var(--color-dark-900);

  & .container {
    @include container();
  }

  & .flex {
    @include flex($justify: space-between, $align: center);
  }

  & .iconsBlock {
    display: flex;
    color: var(--color-light-100);
    gap: 21px;
  }

  & .link {
    text-decoration: none;
    color: var(--color-light-100);
  }
}
