.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  & .iconBlock {
    position: relative;
    border-radius: 50%;
    width: 28px;
  }

  & .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -16px;
    right: -21px;
    background-color: #21b32e;
    border-radius: 50px;
  }

  & .displayNone {
    display: none;
  }
}
